@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    padding: 0.5rem;
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

/* Responsividade */

@media screen and (max-width: 800px) {
	.container {display: flex;
        flex-direction: column;
        align-items: center;
   
	}}

    @media screen and (max-width: 800px) {
    .full{    display: flex!important;
        flex-direction: column;}}
    
        @media screen and (max-width:900px) {
            .col{    flex-shrink: inherit}}

            @media screen and (max-width:750px) {
                .nav-pills .nav-link.active{  width: fit-content;
                    padding: 0.5rem;
                margin-left: 0; 
            font-size: 14px;}}

            @media only screen and (max-width: 880px) {
                .evento .card .p-5 .m-3 {
                  display: flex;
                  justify-content: center;
                  flex-wrap: wrap;
                }
              }
              
              @media screen and (max-width: 830px) {
                .row {
                  display: flex;
                  flex-direction: column;
                }
              
                .row aside img {
                  width: 150px;
                }
              
                .row aside ul {
                  margin-bottom: 0 !important;
                }
              }
              @media screen and (max-width: 666px) {
                .btn-dark {
                  width: 80px;
                }
                .btn-secondary {
                  width: 80px;
                }
                #form-evento input {
                  width: 280px;
                }
                #form-evento textarea {
                  width: 280px;
                }
                #form-evento label {
                  width: 180px;
                }
              }
              
              @media screen and (max-width: 540px) {
                .table {
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;
                }
                tbody {
                  width: 700px;
                }
                #excluir {
                  width: 280px;
                }
                .btn {
                  width: 80px;
                }
                #acao {
                  display: none;
                }
                .nav-footer {
                  display: flex;
                  flex-direction: column;
                  background-color: #fff;
                }
              
                .btn-primary {
                  width: 200px;
                }
              
                #tabela-controle {
                  width: 100%;
                }
              
                .btn-secondary2 {
                  width: 80px;
                }
                #botao-ver-todos {
                  width: 110px;
                }
              
                #painel {
                  width: 110%;
                }
              
                #titulos {
                  padding-left: 75px;
                }
              } ;